@mixin flexCenter($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

$colorText: #c4c41d;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .image-container {
    @include flexCenter(column, center, center);

    .image {
      width: 200px;
      transition: transform 0.3s ease;
      margin-bottom: 28px;
      cursor: pointer;

      &:hover {
        transform: rotate(360deg);
      }
    }

    .text {
      font-size: 24px;
      color: $colorText;
    }
  }
}